.siyah-beyaz {
    position: absolute;
    /* Mutlak konumlandırma */
    top: 0;
    /* Sayfanın en üstüne hizala */
    left: 0;
    /* Sayfanın soluna hizala */
    width: 100%;
    /* Genişlik 100% */
    height: 100%;
    /* Yükseklik 100% */
    z-index: -1;
    /* Sayfa içeriğinin önünde olması için z-index değerini negatif yap */
    filter: grayscale(80%) blur(0px) contrast(0.7);
    /* Siyah beyaz efekti, bulanıklık ve düşük kontrast */
    opacity: 0.8;
    /* %50 opaklık */
}


.container {
    position: relative;
    /* Göreceli konumlandırma */
    z-index: 1;
    /* Sayfa içeriğinin arka plan resminin önünde olmasını sağla */
}



.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu ul li {
    padding: 8px 0;
}

.submenu ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.submenu ul li a:hover {
    color: #ff7f00;
}

.sub-submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.submenu ul li:hover .sub-submenu {
    display: block;
}

/* Ek CSS */
.subcategories-container {
    position: relative;
}

.category {
    cursor: pointer;
}

.category.active {
    color: #ff7f00;
}

.subcategory-list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subcategories-container:hover .subcategory-list {
    display: block;
}

.column {
    float: left;
    /* Kolonların yan yana olması için */
    width: 33.33%;
    /* Kolonların genişliği, 3 kolon olduğunu varsayıyoruz */
    padding: 0 20px;
    /* Kolonlar arası boşluk */
}

.card {
    border: 3px solid #eee;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    transition: border-color 0.3s ease;
    height: auto;
    margin-bottom: 20px; /* Kartlar arasında boşluk bırak */
}

.card:hover {
    border: 3px solid #b6acac;
    cursor: pointer;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    font-size: 1.2em;
    margin-top: 10px;
    color: red;
}

.card p {
    font-size: 1em;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px; /* Sağ ve sol kenar boşluğunu azalt */
    box-sizing: border-box; /* Padding değerlerini genişlik hesabına dahil et */
}


@media (max-width: 768px) {
    .column {
        width: 100%; /* Mobilde tam genişlik */
        float: none; /* Float'ı kaldır */
        padding: 0; /* Paddingi sıfırla */
        margin-bottom: 20px; /* Kartlar arasında boşluk bırak */
    }
}


a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}



  


