/*admin sub category*/
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px; /* Örnek olarak padding değerini 10px olarak ayarlayabilirsiniz */
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* Dropdown menüsü için stil */
#categoryDropdown {
    height: 30px; /* Yüksekliği azaltabilirsiniz */
    padding-left: 10px; /* Örnek olarak padding değerini 10px olarak ayarlayabilirsiniz */
    /* Resim ve metin arasındaki mesafe */
}

#categoryDropdown option {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    /* Resmin sağ tarafına metin arasındaki mesafe */
    font-size: 14px; /* Metin boyutunu küçültebilirsiniz */
    line-height: 30px; /* Satır yüksekliğini azaltabilirsiniz */
    height: 30px; /* Seçenek yüksekliğini azaltabilirsiniz */
}

/* Seçeneklerin arka plan rengi (isteğe bağlı) */
#categoryDropdown option:nth-child(odd) {
    background-color: #f2f2f2; /* Arka plan rengini ayarlayabilirsiniz */
}

/* Seçilen seçeneğin stili (isteğe bağlı) */
#categoryDropdown option:checked {
    font-weight: bold;
    /* Kalın font */
}

.category-info {
    display: flex; /* Flexbox kullanarak içerik hizalama */
    align-items: center; /* Dikey hizalamayı ortala */
}

.category-image {
    width: 100px; /* Resim boyutunu küçültebilirsiniz */
    height: 100px; /* Resim boyutunu küçültebilirsiniz */
    margin-right: 10px; /* Resim ile metin arasında boşluk bırakmak için */
}
