.form-group {
    margin-bottom: 20px; /* Form grupları arasındaki boşluğu artırın */
}

.btn {
    cursor: pointer;
}

.image-preview-container {
    text-align: center;
    margin-top: 20px; /* Ön izleme alanı ile diğer içerikler arasındaki boşluğu artırın */
}

.image-preview {
    max-width: 100%; /* Ön izleme resminin maksimum genişliğini ayarlayın */
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Köşeleri yuvarlayın */
}


.kaydirilabilir-blok {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
