.product-image {
    width: 300px;
    /* Resim boyutunu küçültebilirsiniz */
    height: auto;
    /* Resim boyutunu küçültebilirsiniz */
    padding: 20px;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #277a2a;
    /* Kenarlık rengi */
    color: #fff;
    /* Yazı rengi */
    background-color: transparent;
    /* Arka plan rengi */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: #277a2a;
    /* Hover olduğunda arka plan rengi */
    color: #fff;
    /* Hover olduğunda yazı rengi */
    border-color: #277a2a;
    /* Hover olduğunda kenarlık rengi */
}


#closeButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}



/* Tablo stilleri */
#productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#productTable th,
#productTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Buton stilleri */
.button {
    background-color: #4CAF50; /* Yeşil */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.btn-danger {
    background-color: #f44336; /* Kırmızı */
}

.btn-success {
    background-color: #4CAF50; /* Yeşil */
}

/* H2 stilleri */
.product-wap h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
