.logo {
    width: 200px;

}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    /* Header arkaplan rengi */
    transition: top 0.1s ease-in-out;
    /* Animasyonlu geçiş efekti */
}
#templatemo_nav_top {
    display: none; /* Üst menüyü gizle */
}

#mainNav.sticky-header #templatemo_nav_top {
    display: block; /* Header yapıştırıldığında üst menüyü göster */
}