.logo {
    width: 200px;
    height: auto;
}

.footer-logo{
    width: 20px;
    margin-bottom: 50px;
}

#mainNav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    transition: top 0.3s ease;
}

#templatemo_nav_top {
    display: none; /* Üst menüyü gizle */
}

#mainNav.sticky-header #templatemo_nav_top {
    display: block; /* Header yapıştırıldığında üst menüyü göster */
}


/*--- kategori */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Z-index eklenerek menü öğesinin ön plana çıkması sağlanır */
}

.submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu ul li {
    padding: 10px;
}

.submenu ul li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.submenu ul li:hover {
    background-color: #f0f0f0;
}

.nav-item:hover .submenu {
    display: block;
}
/*---*/

.bg-footer-dark{
    background-color: #f5f5f4 !important;
}

.bg-footer-light{
    background-color: #ffffff !important;
}

.text-footer-black{
    color: #a7a7a7;
}

/*main-img*/
.groove {border-style: groove;}
.hidden {border-style: hidden;}
.outset {border-style: outset;}

.img-main{
    width: 280px;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-border{
    border-style: groove;
    border: 2px solid #9999991e;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    
}
.main-border:hover{
    border-style: groove;
    border-color: #6666662e;
}

.loader {
    width: 30px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b056;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  
  @keyframes l3 {to{transform: rotate(1turn)}}
